<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>711873555961-g04ajfja6v4ckti7rvmv2na2gq0a16sj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.711873555961-g04ajfja6v4ckti7rvmv2na2gq0a16sj</string>
	<key>API_KEY</key>
	<string>AIzaSyCixI4Gw4-uFZ9ZYg5uRyUgQ2KKrmbJ1hM</string>
	<key>GCM_SENDER_ID</key>
	<string>711873555961</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.martinogg.fabTest</string>
	<key>PROJECT_ID</key>
	<string>fabrictest-c3ef0</string>
	<key>STORAGE_BUCKET</key>
	<string>fabrictest-c3ef0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:711873555961:ios:7c53e137a1e3a0cc</string>
	<key>DATABASE_URL</key>
	<string>https://fabrictest-c3ef0.firebaseio.com</string>
</dict>
</plist>